.container-wrap {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.container {
  display: flex;
  flex-direction: row;
  gap: 0px;
  justify-content: space-around;
}

.button-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-between;
}
.btn-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 400px;
  align-items: stretch;
}
.button-container button {
  margin: 5px;
}

.button-normal {
  background-color: white;
  color: black;
  border-radius: 4px;
}

.button-start-program {
  background-color: green;
  color: white;
  border-radius: 4px;
}
/* .console {
  width: 900px;
  background-color: rgb(0, 0, 0);
  color: white;
  border: 1px solid #e7e5e5;
} */
.canvas {
  border: 1px solid #000000;
  cursor: crosshair;
  line-height: 3;
}

.canvas-active {
  border-color: #ff0000;
}
.div_create_line {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: 1px solid #000000;
  padding: 5px;
  align-items: stretch;
}
.div_create_line input {
  float: right;
}
input {
  margin: 2px;
}
.list-edges {
  width: 400px;
  display: flex;
  flex-direction: column;
  border: 1px solid #000000;
  padding: 5px;
  overflow-y: scroll;
}

.list-student {
  display: flex;
  flex-direction: column;
  border: 1px solid #000000;
  padding: 2px;
  overflow-y: scroll;
}

.calculalte {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.run {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.label-input {
  position: relative;
  width: 300px;
}
.label-input input {
  width: 60px;
  position: absolute;
  right: 0;
}
/* .label span {
  position: absolute;
  left: 0;
} */
.console {
  background-color: #000000;
  color: #ffffff;
  width: 300px;
}
p {
  white-space: pre-line;
  text-indent: 10px;
}

/* label > input {
  float: right;
} */

th,
td {
  margin: 1px;
  border: 1px solid #000000;
}
